/* styles.css */

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background: #555;
}

/* Layout Principal */
main {
    display: flex;
    margin-top: 60px; /* Ajuste para não sobrepor o header fixo */
    transition: margin-left 0.3s ease; /* Adiciona uma transição suave */
}

aside {
    width: 200px;
    background: #555;
    padding: 20px 0px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 60px; /* Abaixo do header */
    left: -200px; /* Oculto fora da tela inicialmente */
    height: calc(100vh - 60px); /* Altura total da viewport menos a altura do header */
    overflow-y: auto;
    transition: left 0.3s ease; /* Adiciona uma transição suave */
    }
aside.open {
    left: 0; /* Desliza para a esquerda */
}

section {
    flex: 1;
    padding: 10px;
}

/* Ajuste para telas pequenas */
@media (max-width: 768px) {
    aside {
        width: 200px;
        left: -200px; /* Oculto fora da tela inicialmente */
        transition: left 0.3s ease; /* Adiciona uma transição suave */
    }

    aside.open {
        left: 0; /* Desliza para a esquerda */
    }

    main {
        margin-left: 0; /* Remove a margem do main para telas pequenas */
    }
}

/* Estilo dos Botões no Aside */
aside button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

aside button:hover {
    background: #0056b3;
    transform: translateY(-2px);
}

aside button:active {
    background: #004080;
    transform: translateY(0);
}

/* Estilo dos Títulos e Parágrafos no Conteúdo */
h2 {
    margin-top: 0;
}

section p {
    margin: 0;
    padding: 0;
}
article{
    margin:15px 0px 0px 10px;
}